# Set another default user than root for security reasons
user www www;

worker_processes  4;
worker_rlimit_nofile 8192;
daemon off;

events {
    worker_connections  8000;
    accept_mutex off;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  logs/access.log  main;
    error_log   logs/error.log  notice;

    sendfile    on;
    tcp_nopush  on;
    tcp_nodelay off;

    keepalive_timeout  65;

    gzip  on;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_min_length 1100;
    gzip_buffers     4 8k;
    gzip_proxied any;
    gzip_types
      # text/html is always compressed by HttpGzipModule
      text/css
      text/javascript
      text/xml
      text/plain
      text/x-component
      application/javascript
      application/json
      application/xml
      application/rss+xml
      font/truetype
      font/opentype
      application/vnd.ms-fontobject
      image/svg+xml;

    gzip_static on;

    gzip_proxied        expired no-cache no-store private auth;
    gzip_disable        "MSIE [1-6]\.";
    gzip_vary           on;
    
    include       mime.types;
    default_type  application/octet-stream;

    server {
        server_name  localhost;
        listen       <%= ENV['PORT'] %>;

        error_page 404 403 /404.html;
        root  <%= ENV['HOME'] %>/public;

        autoindex           off;
        index index.html;

        try_files $uri $uri/ =404;
        # opt-in to the future
        expires 2592000;
        charset utf-8;

        location ~ /\. {
            deny            all;
            access_log      off;
            log_not_found   off;
        }
        
        location ~* ^.+\.(html|htm|php|html.gz)$ {
          add_header Cache-Control "private, max-stale=2592000, must-revalidate";
          add_header "X-UA-Compatible" "IE=Edge,chrome=1";
        }
        
        location ~* ^.+\.(css|js|jpg|jpeg|gif|png|ico|gz|svg|svgz|ttf|otf|woff|eot|mp4|ogg|ogv|webm)$ {
          access_log off;
          add_header Cache-Control  "public, max-stale=2592000";
          add_header "Vary" "Accept-Encoding";
        }
        
#        location ~* ^.+\.(js|css|xml|gz)$ {

#        }
    }
}