<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" itemscope itemtype="http://schema.org/Person"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" itemscope itemtype="http://schema.org/Person"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" itemscope itemtype="http://schema.org/Person"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" itemscope itemtype="http://schema.org/Person"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Denis Evsyukov</title>
    <meta name="description" content="Personal Page of Denis Evsyukov">
    <meta name="author" content="Denis Evsyukov">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/master-e19273de.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div id="card">
      <img id="avatar" itemprop="image" src="/images/avatar-adb88226.png">
      <h1 itemprop="name">Denis Evsyukov</h1>
      <p><em>n.</em> a fine geek from <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="region">Russia</span></span></p>
    </div>
    <ul id="links">
      <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#101;&#110;&#105;&#115;&#64;&#101;&#118;&#115;&#121;&#117;&#107;&#111;&#118;&#46;&#111;&#114;&#103;" class="a" rel="nofollow" itemprop="email">
        Email: <strong>&#100;&#101;&#110;&#105;&#115;&#64;&#101;&#118;&#115;&#121;&#117;&#107;&#111;&#118;&#46;&#111;&#114;&#103;</strong>
        <div>&rarr;</div>
      </a></li>
      <li><a href="http://twitter.com/Juev" class="b" rel="nofollow" itemprop="url">
        Twitter: <strong>@Juev</strong>
        <div>&rarr;</div>
      </a></li>
      <li><a href="http://www.juev.ru" class="c" rel="nofollow" itemprop="url">
        Read <strong>my blog</strong>
        <div>&rarr;</div>
      </a></li>
      <li><a href="http://github.com/juev" class="d" rel="nofollow" itemprop="url">
        Have a look <strong>at my code</strong>
        <div>&rarr;</div>
      </a></li>
      <li><a href="http://pinboard.in/u:juev" class="e" rel="nofollow" itemprop="url">
        Check <strong>my bookmarks</strong>
        <div>&rarr;</div>
      </a></li>
      <li><a href="http://www.flickr.com/photos/juev" class="f" rel="nofollow" itemprop="url">
        Look <strong>at my photos</strong>
        <div>&rarr;</div>
      </a></li>
    </ul>
    <div id="footer">
      2013 © Denis Evsyukov
    </div>
    <!--<script src="/assets/master.js" type="text/javascript"></script> -->
    <script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-26480484-3']);_gaq.push(['_trackPageview']);</script>
    <script async src="//google-analytics.com/ga.js"></script>    
  </body>
</html>
